---
layout: default
title: 主页
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date: "%Y年%m月%d日 %H时%M分" }}</span>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination-lanyon">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">往后</a>
  {% else %}
    <span class="pagination-item older">往后</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">往前</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">往前</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">往前</span>
  {% endif %}
</div>

